/* Global Styles */

html, body {
  font-family: 'Helvetica';
}

@font-face {
  font-family: "HarryPotter";
  src: url("./../fonts/HARRYP.ttf") format("truetype"), /* Safari, Android, iOS */
       url("./../fonts/HARRYP.woff") format("woff"), /* Modern Browsers */
       url("./../fonts/HARRYP.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background {
  height: 100vh;
  background:
    linear-gradient(90deg,#fff .25em, transparent 0),
    linear-gradient(90deg, #777777 50%, transparent 0),
    linear-gradient(90deg, #999999 50%, #555555 0);
    background-size: 2.25em, 4.5em, 9em;
}

.background-slytherin {
  height: 100vh;
  background:
  linear-gradient(90deg,#fff .25em, transparent 0),
  linear-gradient(90deg, #5d5d5d 50%, transparent 0),
  linear-gradient(90deg, #aaaaaa 50%, #033807 0);
  background-size: 2.25em, 4.5em, 9em;
}

.background-gryffindor {
  height: 100vh;
  background:
  linear-gradient(90deg,#fff .25em, transparent 0),
  linear-gradient(90deg, #9c1203 50%, transparent 0),
  linear-gradient(90deg, #eeba30 50%, #591313 0);
  background-size: 2.25em, 4.5em, 9em;
}

.background-ravenclaw {
  height: 100vh;
  background:
  linear-gradient(90deg,#fff .25em, transparent 0),
  linear-gradient(90deg, #475167 50%, transparent 0),
  linear-gradient(90deg, #919192 50%, #00165e 0);
  background-size: 2.25em, 4.5em, 9em;
}

.background-hufflepuff {
  height: 100vh;
  background:
  linear-gradient(90deg,#fff .25em, transparent 0),
  linear-gradient(90deg, #e3a000 50%, transparent 0),
  linear-gradient(90deg, #f0c75e 50%, #372e29 0);
  background-size: 2.25em, 4.5em, 9em;
}
/* Utility */

.dark-green { color: #1A472A; }
.light-green { color: #2A623D; }
.dark-grey { color: #5D5D5D; }
.light-grey { color: #AAAAAA; }

.hp { font-family: 'HarryPotter'; }


/* View-specific Styles */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 51em;
  padding: 1em;
  min-height: 420px;
  margin-left: -1.25em;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 58px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 58px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 58px 0px rgba(0,0,0,0.75);
}

.vertical-center {
  /* visually center */
  margin-top: -46px;
}

.title {
  text-align: center;
  font-size: 48px;
  margin-top: 0;
}

.subtitle {
  text-align: center;
  font-weight: 300;
  color: gold;
  font-size: 48px;
  margin-top: 30px;
  display: block;
}

button.get-started {
  padding: 15px 25px;
  font-size: 24px;
  background-color: #2A623D;
  border: none;
  color: #fff;
  font-weight: 800;
  margin: 0px auto 0 auto;
  display: block;
}

button.answer {
  padding: 10px 50px;
  font-size: 20px;
  background-color: #2A623D;
  border: none;
  color: #fff;
  font-weight: 500;
  margin: 3px;
  display: inline;
  width: 150px;
  height: 40px;
  padding: 5px;
}

button.answer2 {
  padding: 10px 50px;
  font-size: 20px;
  background-color: #2A623D;
  border: none;
  color: #fff;
  font-weight: 500;
  margin: 3px;
  display: inline;
  width: 150px;
  height: 40px;
  padding: 5px;
}
.hidden {
  display: none;
}
